# MAC stuff
*.DS_store

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Numerical_projects/src/cmb

Numerical_projects/temporary_CXX_Template_for_milestone2/cmb

*.pyc

*.gz

Numerical_projects/data_toy/

Numerical_projects/data/

Numerical_projects/src/test_logspace.txt

Numerical_projects/src/examples

Numerical_projects/src/testing_bessel.py

Numerical_projects/src/testing_bessel.txt

Numerical_projects/src/testing_logspace.py

Numerical_projects/src/testing_x_res.py

Numerical_projects/src/testing_x_resolution.txt

Numerical_projects/data_testing/

Numerical_projects/Milestone4/python/comp_test_k_0.00021.pdf

Numerical_projects/Milestone4/python/comp_test_k_0.00091.pdf

Numerical_projects/Milestone4/python/comp_test_k_0.00387.pdf

Numerical_projects/Milestone4/python/comp_test_k_0.01651.pdf

Numerical_projects/Milestone4/python/comp_test_k_0.07038.pdf

Numerical_projects/Milestone4/python/comp_test_k_0.30000.pdf

Numerical_projects/Milestone4/python/testing_perturbations_k0.00021.pdf

Numerical_projects/Milestone4/python/testing_perturbations_k0.00091.pdf

Numerical_projects/Milestone4/python/testing_perturbations_k0.00387.pdf

Numerical_projects/Milestone4/python/testing_perturbations_k0.01651.pdf

Numerical_projects/Milestone4/python/testing_perturbations_k0.07038.pdf

Numerical_projects/Milestone4/python/testing_perturbations_k0.30000.pdf
